@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers._
@import controllers.$package$.routes._
@import models.$package$.$className$


@(appConfig: FrontendAppConfig, form: Form[_])(serviceInfoContent: Html)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    form = Some(form),
    serviceInfoContent = Some(serviceInfoContent)) {

    @uiForm(action = $className$Controller.onSubmit(), 'autoComplete -> "off", Symbol("data-journey-dynamic-radios") -> "") {

        @components.error_summary(form.errors)

        @components.input_radio(
            field = form("value"),
            legend = components.heading("$className;format="decap"$.heading").body,
            inputs = $className$.options.toSeq
        )

        @components.submit_button(gaEvent = "$gaEventPrefix$")
    }
}
