@import config.FrontendAppConfig

@(appConfig: FrontendAppConfig)(serviceInfoContent: Html)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    serviceInfoContent = Some(serviceInfoContent)
) {

    @components.heading("$className;format="decap"$.heading")


        <a id="continue"
           href='#'
           class="govuk-button"
           role="button"
           data-journey-click="$gaEventPrefix$:Click:$gaEventButtonSuffix$">

            @messages("$className;format="decap"$.continue")
        </a>



<p>
        <a class="govuk-link" id="not-now"
           href='@appConfig.getBusinessAccountUrl("home")'
           data-journey-click="$gaEventPrefix$:Click:NotNow">
            @messages("$className;format="decap"$.notnow")
        </a>
</p>
}
