@import config.FrontendAppConfig

@(appConfig: FrontendAppConfig)(serviceInfoContent: Html)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    serviceInfoContent = Some(serviceInfoContent)) {

    @components.heading("$className;format="decap"$.heading")

    <button data-module="govuk-button" id="continue"
       href='#'
       class="govuk-button"
       role="button"
       data-journey-click="$gaEventPrefix$:Click:Continue">

        @messages("$className;format="decap"$.continue")
    </button>
}
