@import config.FrontendAppConfig

@(appConfig: FrontendAppConfig)(serviceInfoContent: Html)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    serviceInfoContent = Some(serviceInfoContent)) {

    @components.heading("$className;format="decap"$.heading")

    <a data-module="govuk-button" id="continue"
       href='#'
       class="govuk-button"
       role="button">

        @messages("$className;format="decap"$.continue")
    </a>
}
