@import config.FrontendAppConfig

@(appConfig: FrontendAppConfig)(serviceInfoContent: Html)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    serviceInfoContent = serviceInfoContent) {

    @components.heading("$className;format="decap"$.heading")

    <a id="continue"
       href='#'
       class="button"
       data-journey-click="$gaEventPrefix$:Click:Continue">

        @messages("$className;format="decap"$.continue")
    </a>
}
