@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_navigation';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';

.padding-top-medium {
    padding-top: 15px !important;
}
.margin-top-medium {
    margin-top :2em;
}
.margin-top-small {
    margin-top :1em;
}

.padding-bottom-small {
    padding-bottom : 1.5em;
}

.no-bottom-margin {
    margin-bottom : 0;
}